extends ../shared/_layout

block content
  main.mw8.center
    .cf.w-100.pa5-ns.pa4
      header.prof.fl.w-40-ns.mb5.mb0-ns.sticky
        h1.ma0.tc.tl-ns= data.pages.top.prof.name
        p.b.ma0.tc.tl-ns= data.pages.top.prof.sub_name
        div.prof__desc.bl.bw2.ph4.mv4.pv2.bg--white--ts
          p #{data.pages.top.prof.desc}
        figure.prof__img.ma0.pa0
          img(src=data.pages.top.prof.image)
        include ../shared/_footer
      div.content.fl.w-60-ns.pl5-ns
        article.resume.mb5
          h2.ma0.mb3= data.pages.top.resume_title
          ul.ma0.pa0
            each history, index in data.pages.top.resume.reverse()
              li.history.list.relative
                div
                  time.db.pl4 #{history.term.begin} - #{history.term.end}
                  div.pl4.pt3.pb5
                    h3.history__name.dib.f3-ns.f4.ma0
                      a.db.dim.pb2.bb.bw2.ma0(href=history.url target="_blank")= history.name
                    div
                      p.history__desc.bl.bw2.ph4.pv3.mv4.bg--white--ts #{history.desc}
                      if history.tech
                        ul.tech.ma0.pa0.cf
                          each tech, index in history.tech
                            li.list.fl.pa1.ba.mr2.mb2.f7= tech
                      if history.sites
                        h3.ma0.dib.pb2.bb.bw1 主な製作実績
                        ul.sites.ma0.pa0.pl3.mv4
                          each site, index in history.sites
                            li.history__site.list
                              div
                                h4.history__site__name.f3-ns.f4.ma0.mv3
                                  a.dim(href=site.url target="_blank")= site.name
                                if site.desc
                                  div
                                    p.bl.bw2.ph4.pv3.mv4.bg--white--ts= site.desc
                                ul.ma0.pa0.tech.cf
                                  each tech, index in site.tech
                                    li.list.fl.pa1.ba.mr2.mb2.f7= tech

        if data.pages.top.projects
          article.projects
            h2.ma0.mb3= data.pages.top.projects_title
              ul.ma0.pa0.pl5
                each project, index in data.pages.top.projects
                  li.project
                    div
                      h4.project__name.ma0.mv2.normal
                        a.dim(href=project.url target="_blank")= project.name
